/* 
    CSS for Michael Michoff Racing about Page 
    Steven Croft
    May 26, 2015
*/

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    background: linear-gradient(to bottom, rgb(218, 29, 84) 0%, rgb(218, 29, 84) 25%, rgb(36, 40, 74) 25%, rgb(36, 40, 74) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    height: 300px;
    width: 75%;
    border-radius: 10px;
}



ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: center;
    
}

li {
    display: inline;
    padding: 5px;
}

#linklist {
   background-color: white;
   opacity: 0.8;
   font-size: 30px; 
   font-family: sans-serif; 
   padding: 0px;
   margin-left: -10px;
   margin-right: auto;
   width: auto;
   margin-top: 10%;
}

#linklist a {
   color: black;
   text-decoration: none; 
   display: inline;
}

#linklist a:hover {
   color: rgba(201,193,201,1); 
   text-decoration: none;
}


.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: 25%;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

#About{
    color: black;
    background-color: white;
    /* background: -webkit-linear-gradient(rgb(0,0,0), rgb(30,30,30), rgb(50,50,50));
    background: -o-linear-gradient(rgb(0,0,0), rgb(30,30,30), rgb(50,50,50));
    background: -moz-linear-gradient(rgb(0,0,0), rgb(30,30,30), rgb(50,50,50));
    background: linear-gradient(rgb(0,0,0), rgb(30,30,30), rgb(50,50,50)); */
    width: 50%;
    opacity: ;
    padding: 5px;
    
    -webkit-box-shadow: 10px 10px 16px 0px rgba(201,193,201,1);
    -moz-box-shadow: 10px 10px 16px 0px rgba(201,193,201,1);
    box-shadow: 10px 10px 16px 0px rgba(201,193,201,1);
    display: block;
    position: relative;
    top: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}

#Team{
    color: black;
    background-color: white;
    /*background: -webkit-linear-gradient(rgb(0,0,0), rgb(30,30,30), rgb(50,50,50)); 
    background: -o-linear-gradient(rgb(0,0,0), rgb(30,30,30), rgb(50,50,50)); 
    background: -moz-linear-gradient(rgb(0,0,0), rgb(30,30,30), rgb(50,50,50)); 
    background: linear-gradient(rgb(0,0,0), rgb(30,30,30), rgb(50,50,50)); */
    width: 50%;
    opacity: ;
    padding: 5px;
    
    -webkit-box-shadow: 10px 10px 16px 0px rgba(201,193,201,1);
    -moz-box-shadow: 10px 10px 16px 0px rgba(201,193,201,1);
    box-shadow: 10px 10px 16px 0px rgba(201,193,201,1);
    display: block;
    position: relative;
    top: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}

#Team a{
   color: black;
   text-decoration: underline;
}

#Kart{
    color: black;
    background-color: white;
    /*background: -webkit-linear-gradient(rgb(0,0,0), rgb(30,30,30), rgb(50,50,50));
    background: -o-linear-gradient(rgb(0,0,0), rgb(30,30,30), rgb(50,50,50));
    background: -moz-linear-gradient(rgb(0,0,0), rgb(30,30,30), rgb(50,50,50));
    background: linear-gradient(rgb(0,0,0), rgb(30,30,30), rgb(50,50,50));*/
    width: 50%;
    opacity: ;
    padding: 5px;
    
    -webkit-box-shadow: 10px 10px 16px 0px rgba(201,193,201,1);
    -moz-box-shadow: 10px 10px 16px 0px rgba(201,193,201,1);
    box-shadow: 10px 10px 16px 0px rgba(201,193,201,1);
    display: block;
    position: relative;
    top: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}

#Kart a{
   color: black;
   text-decoration: underline;
}
