/* 
    CSS for Michael Michoff Racing Home Page 
    Steven Croft
    May 26, 2015
*/

html{
    height: 100%;
}

body{
    height: 100%;
    background: linear-gradient(to bottom, rgb(45, 12, 102) 0%, rgb(45, 12, 102) 50%,black 50%,black 100%);
    /*background: linear-gradient(to bottom, rgb(45, 12, 102) 0%, rgb(45, 12, 102) 50%,rgb(232, 12, 114) 50%,rgb(232, 12, 114) 100%);*/
}

#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    height: 300px;
    width: 75%;
    border-radius: 10px;
}



ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: center;
    
}

li {
    display: inline;
    padding: 5px;
}

#linklist {
   background-color: white;
   opacity: 0.8;
   font-size: 30px; 
   font-family: sans-serif; 
   margin-left: -10px;
   margin-right: auto;
   width: auto;
}

#linklist a {
   color: black;
   text-decoration: none; 
   display: inline;
}

#linklist a:hover {
   color: rgb(33, 59, 150); 
   text-decoration: none;
}


.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

#Welcome{
    color: white;
    opacity: 0.8;
    position: relative;
    width: 35%;
    top: 10%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}

#Welcome h2{
    color: white;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px;
}

#Current{
    color: white;
    opacity: 0.4;
    position: fixed;
    bottom: 10%;
    width: 25%;
    padding: 5px;
    margin-left: 10%;
    text-align: center;
    
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px; 
}


#Current h2{
    color: white;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.3999996185303px; 
}

#bottomrightimage{
    opacity: 0.5;
    display: block;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 500px;
}

#topleftimage{
    opacity: 0.8;
    position: fixed;
    top: -5%;
    left: 10%;
    width: 300px;
    height: 300px;
}