/* 
    CSS for Michael Michoff Racing Home3 Page 
    Steven Croft
    May 26, 2015
*/

html{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(218, 29, 84) 0px, rgb(218, 29, 84) 170px, rgb(36, 40, 74) 165px, rgb(36, 40, 74));
    background-size: 650%;
    background-repeat: no-repeat;
}

#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    height: 300px;
    width: 75%;
    border-radius: 10px;
}



ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: center;
    
}

li {
    display: inline;
    padding: 5px;
}

#linklist {
   background-color: white;
   opacity: 0.8;
   font-size: 30px; 
   font-family: sans-serif; 
   padding: 0px;
   margin-left: -10px;
   margin-right: auto;
   width: auto;
   margin-top: 140px;
}

#linklist a {
   color: black;
   text-decoration: none; 
   display: inline;
}

#linklist a:hover {
   color: rgba(201,193,201,1); 
   text-decoration: none;
}


.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: 25%;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

/* SLIDER STRUCTURE*/
#slider{
    background: #000;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    height: 320px;
    width: 680px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
}

/* HIDE ALL OUTSIDE OF THE SLIDER*/

#mask{
    overflow: hidden;
    height: 320px;
}

/* IMAGE LIST */
#slider ul{
    margin: 0;
    padding: 0;
    position: relative;
}

#slider li{
    width: 680px; /*Image width*/
    height: 320px; /*Image height*/
    position: absolute;
    top: -325px; /* original position outside of the lsider*/
    left: -100px;
    resize: both;
    list-style: none;
}

#slider li.firstanimation{
    animation: cycle 10s linear infinite;
}

#slider li.secondanimation{
    animation: cycletwo 25s linear infinite;
}

@keyframes cycle{
    0% {top: 0px;} /* when you start the lisde, the first image is already visible*/
    4% {top: 0px;} /* original position */
    16% {top: 0px; opacity: 1; z-index: 0;} /* from 4% to 16% for 3 seconds the image is visible */
    20% {top: 325px; opacity: 0; z-index: 0;} /*from 16 - 20 % for 1 sec and exit image*/
    21% {top: -325px; opacity: 0; z-index: -1} /* return to original position*/
    92% {top: -325px; opacity: 0; z-index: 0;}
    96% {top: -325px; opacity: 0;} /* from 96 to 100% for one second enter image*/
    100% {top: 0px; opacity: 1;}
}

@keyframes cycletwo{
     0%  { top: -325px; opacity: 0; } /* Original Position */
   16% { top: -325px; opacity: 0; }/* Starts moving after 16% to this position */
   20% { top: 0px; opacity: 1; }
   24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
   36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
   40% { top: 325px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
   41% { top: -325px; opacity: 0; z-index: -1; }   /* Return to Original Position */
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

#Content{
    color: white;
    width: 75%;
    position: relative;
    top: 250px;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 5px;
}

#SlideShow{
    color: black;
    
}

#USOpen{
    color: black;
    background-color: white;
    width: 25%;
    background-image: url(USOpen%20Transparent%20Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    
}

#Can-Am{
    color: black;
    background-color: white;
    width: 50%;
    background-image: url(CanAm_Logo-400px.gif);
    background-repeat: no-repeat;
    background-position: center;
}

#Past{
    color: black;
    background-color: white;
}
